# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

objs
workspace/pro
workspace/logs
workspace/images
workspace/videos
workspace/*.onnx
workspace/*.trtmodel
# workspace/*
src/python_scripts/yolov5_classify_life_jacket/weights

.vscode
backup

web
node_modules
